@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.react-bs-table-insert-modal {
    white-space: pre;
}

.modal-header {
    padding: 1em !important;
}

.modal-header .close {
    margin-top: -2px;
    padding: 0 !important;
    position: absolute;
    right: 2em;
    top: 2em;
    cursor: pointer;
    float: right;
    font-size: 21px;
    line-height: 1;
    color: #000;
    opacity: 0.2;
    filter: alpha(opacity=20);
}

.react-bs-table-update {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

.btn.focus, .btn:focus {
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0) !important;
    box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0) !important;
}

.table-custom-checkboxes > colgroup > col:first-child {
    width: 36px !important;
    min-width: 36px !important;
}

.react-bs-table-tool-bar, .react-bs-table-pagination, .row {
    margin-top: 5px !important;
    padding-bottom: 0 !important;
    margin-left: 0 !important;
}

.btn-group-sm {
    height: 2.2em;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.ui.grid {

    margin-right: 0 !important;
}

.btn {
    border-color: #6c757d !important;
    margin-right: 2px !important;
}

.semantic-div-grid {
    margin: 1em;
}

.semantic-header-grid {
    margin: 1em;
    overflow-y: hidden;
    overflow-x: hidden;
    height: 5em !important;
}

.semantic-body-grid {
    margin: 1em;
    overflow-y: auto;
    overflow-x: hidden;
    height: 34em !important;
}